# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

/public
# Build directory
/build
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml

# Add cheatsheet
.cheatsheet

scripts/garmin_sync.py
scripts/garmin_to_strava_sync.py
